@import "../../../../../../shared/variables/variables.css";

.iconContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0 0 8px 0;
    opacity: 0.99;
    color: var(--white);
}
.venueImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.venueImg {
    height: 100%;
    min-height: 610px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
