.venueContainer {
    width: 282px;
    height: 228px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.photoWithName {
    width: 282px;
    height: 193px;
}
.photoWithName img {
    width: 282px;
    height: 193px;
    position: absolute;
}
.iconContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0px 0px 8px 0px;
    padding: 8px;
    opacity: 0.8;
}
.nameContainer {
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 0px 18px;
    opacity: 0.8;
}

.iconAndNameWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
}
.priceAndLocalizationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
    max-width: 180px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0px 18px 0px 0px;
    opacity: 0.8;
    color: #FFFFFF;
    margin-top: 75px;
}
.priceAndLocalizationContainer p {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.iconWithLocalization {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ratingAndCapacityContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    height: 35px;
    width: 283px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    color: #595959
}
.ratingWithIcon, .capacityWithIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
}
