@import "../../../shared/variables/variables.css";

.bookVenueContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 382px;
    width: 100%;
}
.titleWithBorder {
    border-bottom: 2px solid rgba(0, 0, 0, 0.65);
    width: 100%;
}
.titleWithBorder p {
    font-weight: var(--bold-font);
    font-size: var(--big-font);
    color: var(--black);
}
