.searchBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 524px;
    background-color: #FDFDFD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-image: url("../../../shared/imgs/together.svg"), url("../../../shared/imgs/wave.svg"), url("../../../shared/imgs/background.svg");
    background-position: left bottom, top, center ;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.searchMachine {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;
    width: 1200px;
    height: 48px;
}

.welcomeText {
    margin-left: 450px;
    margin-top: 150px;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: rgba(0, 0, 0, 0.75);
}
.narrowSearchButton {
    font-family: 'Poppins', sans-serif;
    color: #67AA92;
    font-weight: 600;
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
    width: 260px;
    height: 24px;
    margin-top: 19px;
}
.searchVenueButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background: #67AA92;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    width: 220px;
    height: 40px;
    margin-top: 44px;
}